@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: blue;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    font-family: 'Karma', serif;
}


/* Header comun */
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);

}
.primero-header
{
    display: flex;
    justify-content: center;
}

.letrero{
    color: white;
    text-align: center;
    font-size: 75px;
}
.letrero:hover
{
    transform: scale(1.15);

}
.h3-header {
    color: white;
    text-align: center;
}

/* Index */


.flexPadre
{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    }

.flexHijo
{
    
    text-align: center;
    
}

li{
    font-size: 40px;
    color: white;
    background-color: black;

}


/* Productos */
.flex-padre
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

}
.flex-padre img
{   
    height: 200px;
    width: auto;
    transition: all 300ms;
    position: relative;
}
.flex-padre img:hover
{
    transform: scale(1.15);
    
}

#bienvenida
{
    text-align: center;
}



/* Contacto  */

.enundiv
{
    display: flex;
    justify-content: center;
}