body{
    background-color: blue;
}

.letrero{
    color: white;
    text-align: center;
    font-size: 75px;
}
.h3-header {
    color: white;
    text-align: center;
}
.elmain
{
    display: flex;
    justify-content: center;
}

input{
    background-color: white;
    height: 30px;
    width: 400px;
    color: black;
    }

label
{
    background-color: white;
}

button
{
    display: flex;
    justify-self: center;
    height: 20px;
    width: 20px;
}

.buton
{
    display: flex;
    justify-content: center; 
}